<a routerLink="/rooms">back</a>

<p>Message from Room : {{ roomMessage }}</p>

<p>Messages des utilisateurs :</p>
<ul>
    <li *ngFor="let m of usersMessages">{{ m }}</li>
</ul>

<input [(ngModel)]="toSend">
<button (click)="send()">Envoyer</button>   